<main class="grid items-center h-full w-full bg-gray-100">
  <div
    *ngIf="currentView === views.email"
    class="flex items-center justify-center min-h-screen"
  >
    <div class="flex items-center justify-center min-h-screen">
      <div class="bg-white p-6 rounded-lg shadow-lg">
        <h2 class="text-lg text-center font-bold mb-4">Enter Info</h2>
        <p class="text-center">
          Answer a quiz and play a game for a chance to win a prize!
        </p>
        <div>
          <label for="username" class="block text-sm font-medium text-gray-700"
            >Username</label
          >
          <input
            id="username"
            [(ngModel)]="username"
            name="username"
            type="username"
            placeholder="Enter your username"
            class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
            required
          />
        </div>
        <div>
          <label for="email" class="block text-sm font-medium text-gray-700"
            >Email</label
          >
          <input
            id="email"
            [(ngModel)]="email"
            name="email"
            type="email"
            placeholder="Enter your email"
            class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
            required
          />
        </div>

        <button
          (click)="onEmailSubmit()"
          [disabled]="!email || !username"
          class="mt-4 w-full bg-indigo-500 text-white font-bold py-2 px-4 rounded-md hover:bg-indigo-600 disabled:bg-gray-300"
        >
          Submit
        </button>

        <div *ngIf="submitted && email" class="mt-4 text-green-500">
          Email submitted successfully!
        </div>
      </div>
    </div>
  </div>
  <div
    *ngIf="currentView === views.quiz"
    class="mx-auto box-container bg-white p-6 rounded-lg shadow-lg rounded px-4 py-2"
  >
    <app-quiz (quizCompleted)="handleQuizCompleted($event)"></app-quiz>
  </div>
  <div *ngIf="currentView === views.reactionGame">
    <app-reaction-game
      (gameCompleted)="handleGameCompleted($event)"
    ></app-reaction-game>
  </div>
  <div
    *ngIf="currentView === views.gameOver"
    class="flex flex-col items-center justify-center min-h-screen"
  >
    <div class="bg-white p-6 rounded-lg shadow-lg">
      <h2 class="text-lg text-center font-bold mb-4">Game Over</h2>
      <p class="text-center">
        Thank you for participating! Your results have been submitted.
      </p>
      <p class="text-center">
        Rank: {{ rank }} - Reaction Time: {{ reactionTime }}ms
      </p>
    </div>
    <div
      class="leaderboard mt-3 text-center py-2 bg-white rounded-lg shadow-lg"
    >
      <h2>Leaderboard</h2>
      <div class="grid font-semibold px-4 bg-gray-300 grid-cols-3">
        <p class="mb-0">Rank</p>
        <p class="mb-0">Username</p>
        <p class="mb-0">Reaction Time</p>
      </div>
      <ul class="px-4">
        <li
          class="grid items-center grid-cols-3 shadow my-1"
          *ngFor="let user of leaderboard; let i = index"
        >
          <p class="mb-0">{{ i + 1 }}</p>
          <p class="mb-0">{{ user.userName }}</p>
          <p class="mb-0">{{ user.reactionTime }} ms</p>
        </li>
      </ul>
    </div>
  </div>
</main>
